.input-table {
  border-collapse: collapse;
  width: 30% auto;
}
.input-table th {
  width: 150px;
  height: 50px;
}
.logoutButton,
.date {
  color: black;
  margin: 0 auto;
  text-decoration: none;
}
.footer {
  padding: 20px;
  text-align: center;
}
a {
  text-decoration: none;
  color: blue;
}
.dates {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
#toggleShow {
  color: black;
  cursor: pointer;
}
.input-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.data-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.data-container div table{
    width: 100%;
}
.data-container div table th{
    border-collapse: collapse;
    border-bottom: 1px solid black;
}
.notifications{
    text-align: center;
}